* {
  font-family: "JetBrainsMono Nerd Font", "Inter";
  font-size: 12.5px;
  font-weight: 500;
}

window#waybar {
  background: #e6e6ea; /* soft light grey */
  border-bottom: 1px solid #d0d0d4;
  color: #2b2b2e;
}

/* Workspaces */

#workspaces button {
  padding: 4px 10px;
  margin: 3px;
  background: #dcdce1;
  border-radius: 8px;
  color: #3c3c40;
}

#workspaces button.active {
  background: #cfcfd6;
  color: #1e1e20;
}

/* Modules */

#cpu,
#memory,
#pulseaudio,
#network,
#battery,
#clock,
#custom-launcher {
  padding: 4px 10px;
  margin: 0 4px;
  background: #dcdce1;
  border-radius: 9px;
  color: #2c2c30;
}

#cpu:hover,
#memory:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#clock:hover {
  background: #c8c8cf;
}

